body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: #ECF0F4;
}

#container {
        border: 1px solid black;
        padding: 2em;
        width: 700px;
        margin: 0 auto;
        position: relative;
        top: 50px;
        height: 300px
}
h1 { 
    font-size: 150%;
    color: black;
    margin-bottom: .5em;
}
label {
    float: left;
    width: 8em;
}
input {
    width: 22em;
    margin-right: 1em;
    margin-bottom: 1em;
}
#tasks {
    margin-top: 0;
    float: right;
}