body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: #ECF0F4;
}

#container {
        border: 1px solid black;
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 3em;
        width: 700px;
        margin: 0 auto;
       position: relative;
       top: 50px;
}
h1 { 
    font-size: 150%;
    color: black;
    margin-bottom: .5em;
}
label {
    float: left;
    width: 8em;
}
input {
    width: 20em;
    margin-right: 1em;
    margin-bottom: 1em;
}
#tasks {
    margin-top: 5px;
    padding: 1em;
    float: right;
    border: 2px solid black;
    width: 20em;
}



#tasks a {
    margin-right: 0.5em;
}
p {
	margin: 0;
	padding-bottom: .5em;
}
.clear {
    clear: both;
}